<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banner List | <%= title %></title>
  <link rel="stylesheet" href="/tagsinput.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">
      <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/"><i class="material-icons">arrow_back</i></a><span>Banner</span></h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Banner</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col s12">
                <%- messages('messages', locals) %>
              </div>
            </div>
            <form method="POST" onsubmit="validate()" action="/banner" id="form" enctype="multipart/form-data">
              <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <div class="row">

                      <div class="input-field col s12">
                        Upload Image
                        <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" id="input-file-now" class="dropify" data-disable-remove="true" data-default-file="<%= banners.image %>" />
                        <small>
                          <div id="error1" class="error"></div>
                        </small>
                      </div>
                      <div class="input-field col s12">
                        <input placeholder="Image alternative name" id="imageAlt" name="imageAlt" type="text" value="<%= banners.imageAlt%>">
                        <label for="imageAlt">Image alternative name</label>
                        <small>
                          <div id="errorImageAlt" class="error"></div>
                        </small>
                      </div>
                      <div class="col s12">
                        <button type="submit" class="btn purple" id="submitBtn">Submit</button>
                        <a href="/" class="btn btn-danger ml-1">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <script>
    const formC = document.getElementById('form');

    formC.addEventListener('submit', (e) => {
      e.preventDefault();
    })

    function validate() {
      let returnVal = true;

      const fileValue = document.getElementById('input-file-now').value;
      const ext = fileValue.substring(fileValue.lastIndexOf('.') + 1).toLowerCase();

      if (fileValue == '') {
        document.getElementById('error1').innerText = '';
      } else if (ext == 'png' || ext == 'jpeg' || ext == 'jpg') {
        document.getElementById('error1').innerText = '';
      } else {
        return setError('error1', 'Wrong file type.');
      }

      if (returnVal) {
        document.getElementById('submitBtn').disabled = true;
        formC.submit();
      }
    }
  </script>
  <%- include('_layouts/commonJs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
  <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
  <script src="/tagsinput.js"></script>
</body>

</html>