<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>
  <title>User List | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">
      <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
        <!-- Search for small screen-->
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/"><i class="material-icons">arrow_back</i></a><span>User</span></h5>
            </div>

            <div class="col s12 m6 l6 right-align-md">
              <form action="/user/export" method="post">
                <button type="submit" class="btn gradient-45deg-purple-deep-orange pull-right btn-breadcrumbs modal-trigger">
                  Export
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">
            <!-- Page Length Options -->
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <%- messages('messages', locals) %>
                    <div class="row">
                      <div class="col s12 overflow">
                        <table id="page-length-option" class="display">
                          <thead>
                            <tr>
                              <th>Sr</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>City</th>
                              <th>Job Title</th>
                              <th>Experience</th>
                              <th>Resume</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for( let i=0; i < users.length; i++ ) { %>
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= users[i].name %></td>
                              <td><%= users[i].email %></td>
                              <td><%= users[i].phone %></td>
                              <td style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= users[i].city %></td>
                              <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= users[i].jobTitle.map(x=>x.name).join(', ') %></td>
                              <td><%= users[i].experience !== undefined && users[i].experience !== null ? users[i].experience === 'Fresher' ? 'Fresher' : users[i].experience + ' Year' : ''  %></td>
                              <td>
                                <% if (users[i].resumes && users[i].resumes.length > 0) { %>
                                <span class="chip lighten-5 green green-text">Available</span>
                                <% } else { %>
                                <span class="chip lighten-5 red red-text">Pending</span>
                                <% } %>
                              </td>
                              <td>
                                <a href="/user/<%= users[i].id %>"><i class="material-icons">remove_red_eye</i></a>
                                <a href="/user/delete/<%= users[i].id %>" onclick="return confirm('Are you sure want to delete this user?')"><i class="material-icons">delete</i></a>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <%- include('_layouts/commonJs') %>
  <script>
    $(document).ready(function() {
      $('.modal').modal();
    });

    const formC = document.getElementById('form');
    formC.addEventListener('submit', (e) => {
      e.preventDefault();
    })

    function validate() {
      let returnVal = true;

      const fileValue = document.getElementById('file').value;
      const ext = fileValue.substring(fileValue.lastIndexOf('.') + 1).toLowerCase();

      if (fileValue == '') {
        document.getElementById('error1').innerText = 'Please upload file.';
        returnVal = false;
      } else if (ext != 'csv') {
        document.getElementById('error1').innerText = 'Please upload csv file.';
        returnVal = false;
      } else {
        document.getElementById('error1').innerText = '';
      }

      if (returnVal) {
        document.getElementById('submitBtn').disabled = true;
        formC.submit();
      }
    }

    // authForm        
    const authForm = document.getElementById('authForm');
    authForm.addEventListener('submit', (e) => {
      e.preventDefault();
    })

    function validateCreds() {
      let returnVal = true;

      const username = document.getElementById('username');
      const password = document.getElementById('password');

      const usernameValue = username.value.trim();
      const passwordValue = password.value.trim();

      if (usernameValue == '') {
        document.getElementById('errorUsername').innerText = 'Please enter username.';
        returnVal = false;
      } else {
        document.getElementById('errorUsername').innerText = '';
      }

      if (passwordValue == '') {
        document.getElementById('errorPass').innerText = 'Please enter password.';
        returnVal = false;
      } else if (passwordValue.length < 8) {
        document.getElementById('errorPass').innerText = 'Password should atleast 8 characters long.';
        returnVal = false;
      } else {
        document.getElementById('errorPass').innerText = '';
      }

      if (returnVal) {
        authForm.submit();
        authForm.reset();
      }
    }

    function togglePassword() {
      const x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <%- include('_layouts/savePageLength') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
  <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
</body>

</html>